* {
  margin:0;
  padding: 0;
}
html{
  height:100%;
  /*禁止当手机由竖屏转向横屏的时内容中的文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust:100%;
  /*Mobile上点击链接高亮的时候设置颜色为透明*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*在IE10之上版本，不允许默认的touch行为*/
  -ms-touch-action: none;
}
body{
  height:100%;
  /*手机字体*/
  font-family:DroidSansFallback,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block;
}
audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration:none;
  -webkit-user-select: none;
  user-select: none;
  border:none;
  outline:0 none;
  outline-style:none;
}
a:active,a:hover {
  outline: 0;
}
em,i{font-style: normal;}
img{
  border:none;
}
ul,ol{
  list-style-type:none;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
/*常用属性*/
.show{
  display: block;
}
.showInlineBlock{
  display: inline-block;
}
.hide{
  display: none;
}
.clear {clear:both;overflow:hidden;height:0;}
body{
  -webkit-overflow-scrolling: touch;
}
.wrap{
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  /*background: url(../images/mbg.jpg) 0 0 no-repeat;*/
  /*background-size: 100% auto;*/
  position: relative;
}
#js-bg1{
  position: relative;
}
#js-bg2{
  position: relative;
  height: 230px;
  background: url(../images/mbg2.jpg) 0 0 no-repeat;
  background-size:100% auto;
}
.wrap img.bg{
  height: 100%;
  width: 100%;
}
.down{
  position: absolute;
  left: 50%;
  bottom:10px;
  display: block;
  margin-left: -126px;
  width: 252px;
  height: 50px;
  background: url(../images/down.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.qrcode{
  width: 100%;
  position: absolute;
  top:53.5px;
  left: 0;
}
.qrcode img{
  width: 147px;
  height: 147px;
  margin: 0 auto;
  display: block;
}
.qrcode p{
    text-align: center;
    line-height: 30px;
    color: #333;
    font-size: 0.875em;
}
.mark{
  display: none;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background:#000;
  opacity: 0.7; 
}
.mark img{
  width: 200px;
  display: block;
  margin: 22.6% auto;

}