/**
 * @class 小甜心
 * @singleton liziqi7@gmail.com
 * @createTime 2014-12-25
 * @updateTime
 * @note
 * @version 1.0
 */
* {
  /*启用盒模型*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  height:100%;
  /*禁止当手机由竖屏转向横屏的时内容中的文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust:100%;
  /*Mobile上点击链接高亮的时候设置颜色为透明*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*在IE10之上版本，不允许默认的touch行为*/
  -ms-touch-action: none;
}
body{
  height:100%;
  /*手机字体*/
  font-family:DroidSansFallback,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration:none;
  -webkit-user-select: none;
  user-select: none;
  border:none;
  outline:0 none;
  outline-style:none;
}
a:active,
a:hover {
  outline: 0;
}
em{font-style: normal;}
img{
  border:none;
  vertical-align:top;
}
ul,ol{
  list-style-type:none;
}
input[type="text"],
input[type="number"],
input[type="tel"],
textarea{
  background:transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  padding:0;
}
/*常用属性*/
.showInlineBlock{
  display: inline-block;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clean:before,.clean:after{
  content:" ";
  display:table;
}
.clean:after{
  clear:both;
}
.flex-equal, .flex-center, .justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-equal li {
  -moz-box-flex:1; /* Firefox */
  -webkit-box-flex: 1; /* Safari 和 Chrome */
  -ms-flex: 1;/* IE 9 */
  -webkit-flex: 1;/* Safari */
  flex: 1;
}
.cleanborder:{
  border:none;
}
.pop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); 
  z-index: 100; 
}
.pop-inner{
  overflow: hidden;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  width: 240px;
  border-radius: 5px;
  background-color: #fff; 
  padding-bottom: 46px;
}
.pop-msg{
  text-align: center;
  padding: 20px;
  line-height: 30px;
}
.pop-btn-box{
  height: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px #B8B8B8 solid;
}
.pop-btn-box a{
  -moz-box-flex:1; /* Firefox */
  -webkit-box-flex: 1; /* Safari 和 Chrome */
  -ms-flex: 1;/* IE 9 */
  -webkit-flex: 1;/* Safari */
  flex: 1;
  display: inline-block;
  text-align: center;
  color: #1c78c5;
  font-size: 1em;
  height: 46px;
  line-height: 46px;
  border-left: 1px #B8B8B8 solid;
}
.pop-btn-box a:nth-child(1){
   border-left: none;
}
.loading{
  z-index: 99;
}
.loading .load-png{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color:#fff;
  padding-top:50%;
  font-size: 1em;
}
.list-loading{
  line-height: 32px;
  height: 32px;
  text-align: center;
  color:#40a8cc;
  font-size:0.875em;
}
.loading-icon{
  display: inline-block;
  background: url("../images/loading.gif") center no-repeat;
  width: 64px;
  height: 10px;
}
.show{
  display: block;
} 
.hide{
  display: none;
}
.vishide{
  visibility: hidden;
}
.vishow{
  visibility: visible;
}

.totop{
  background: url("../images/totop.png") no-repeat;
  background-size: 100% 100%;
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.red{
  color:#f79989;
}
.btn{
  background: #f79989;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.icon{
  background: url(../images/icon.png) 0 0 no-repeat;
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -o-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transform:scale(0.5,0.5);
  -moz-transform:scale(0.5,0.5);
  -ms-transform:scale(0.5,0.5);
  -o-transform:scale(0.5,0.5);
  transform:scale(0.5,0.5);
}
/*常用属性*/
.wrap{
  width: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling:touch;
  overflow-x:hidden; 
  position: relative;
}
.nav{
  position: fixed;
  bottom:0;
  left: 0;
  z-index:9;
  width: 100%;  
  height:50px; 
  border-top: 1px solid #DCDDDD;
  background:#fff; 
}
.nav li{  
  text-align: center;  
  border-left: 1px solid #DCDDDD;
  font-size: 1em;
}
.nav li:nth-child(1){  
  border-left:none;

}
.nav li a{
  color:#595757;
  line-height: 50px;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1em;
}
.nav li.on a{
 color: #f45254;
}


.header{
  width:100%;
  height:44px;
  background-color:#f79989;
  text-align: center;
  line-height:44px;
  font-size:1em;
  color:#ffffff;
}
.footer{
  position: fixed;
  bottom:0;
  left: 0;
  z-index:10;
  width: 100%;
  height:50px;
}
.header .hd-btn{
  position: absolute;
  width: 70px;
  right: 0;
  top:0;
  color:#ffffff; 
}
.header .btn-back{
  position: absolute;
  left:0px;
  top:0px;
  height: 44px;
  width: 30px;
  display: block;
  padding: 14px 8px;
}
.header .btn-back i{
  width: 19px;
  height: 32px;
  display: block;
  background-position: 0 -94px;
}
.second-header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.second-wrapper{
  padding: 44px 0 50px;
}
.second-footer{
  background: #F45355;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #fff;
  display: inline-block;
}
.sign-wrapper{
  padding: 0 0 50px 0;
}
.sign-area{
  width: 230px;
  margin:6px auto;
  overflow: hidden;
}
.sign-ipt{
  width: 100%;
  border: 2px solid #959595;
  border-radius: 3px;
  height: 42px;
  overflow: hidden;
  margin-top:21px;
}
.sign-left{
  width: 66px;
  margin-top: 10px;
  float: left;
  border-right: 1px #d1d9fa solid;
  height: 20px;
}
.sign-left .txt{
  width: 100%;
  text-align: center;
  color:#707070;
  height: 20px;
  line-height: 20px;
}
.sign-right{
  width: 150px;
  margin: 10px 0 0 9px;
  float: left;
}
.sign-right .ipt-txt{
  width: 150px;
  height: 20px;
  line-height: 20px;
  display: block;
  font-size: 0.875em;
}
.sign-btn{
  width: 100%;
  height: 40px;
  display: block;
}
.sign-icon{
  width: 18px;
  height: 36px;
  margin-left: 31px;
}
.sign-ipt2{
  width: 100%;
  margin:21px 0 50px;
}
.sign-ipt-code{
  float: left;
  width: 120px;
  height: 44px;
  border: 2px solid #959595;
  padding: 10px 0 0 13px;
  border-radius: 3px;
}
.sign-ipt-code input{
  width: 106px;
  height: 20px;
  font-size: 0.875em;
  line-height: 20px;
  display: block;
}
.sign-btn-code{
  float: right;
  margin-top: 8px;
  width: 90px;
  line-height:21px;
  height:25px;
  border: 2px solid #959595;
  text-align: center;
  color: #b2b2b2;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 3px;
}
.login-wrapper{
  padding-bottom:50px; 
}
.login-area{
  width: 230px;
  margin: 0 auto;
}
.login-btn{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  display: block;
  border-radius: 3px;
}
.login-logo{
  margin:50px 0 40px;
  width: 100%;
}
.login-ipt {
  width: 100%;
  background-color: #ebebeb;
  height: 44px;
  margin-bottom: 12px;
  border-radius: 3px;
}
.login-left{
  float: left;
  width: 29px;
  margin:13px 0 0 15px;
}
.login-left2{
  margin:16px 0 0 15px;
}
.icon-user{
  width: 30px;
  height: 34px;
  background-position: 0 -36px;
}
.icon-password{
  width: 22px;
  height: 24px;
  background-position: 0 -70px;
}
.login-right{
  float: right;
  width: 180px;
  margin-top:10px;
}
.login-right .ipt-txt{
  height: 20px;
  font-size: 0.875em;
}
.login-other{
  margin-top: 53px;
}
.login-other-forget{
  color: #9999a5;
  font-size: 0.875em;
}
.login-other-sign{
  color: #58b8d0;
  font-size: 0.875em;
  float: right;
}
.login-third{
 color:#757584;
 font-size: 0.875em;
 margin-top: 38px;
}
















@media screen and (min-width: 480px){
  
}
@media screen and (min-width: 768px){
  body{
    /*font-size:24px;*/
  }
  .works-area li{
    width: 33.33%;
  }
}
































