<%_.each(data.list,function(item,i){%>
<li>
	<div class="sleft"><img src="resource/images/loadimg.png" data-src="<%item.img%>"></div>
	<div class="sright" style="<%i==0?"border:none;":""%>">
		<p class="p1"><%=item.name%><span><%=item.time%></span></p>
		<p class="p2"><%=item.txt%></p>
		<%if(item.tag.length>0){%>
			<p class="p3">推荐理由</p>
			<div class="stag">
				<%_.each(item.tag,function(tag){%>
				<div class="btn btn-tag"><%=tag%></div>	
				<%})%>						
			</div>
		<%}%>		
	</div>
</li>
<%})%>
