<div class="clean">
	<p class="title"><%=data.totalSize%>条评论</p>
</div>		
<ul class="comment-list">
	<%_.each(data,function(item,i){%>
		<%if(i<3){%>
		<li>
			<div class="sleft"><img src="resource/images/wode.png" data-src="<%=item.photo||"resource/images/wode.png"%>" ></div>
			<div class="sright" style="<%=(i==0?"border:none;":"")%>">
				<p class="p1"><%=Jser.uname(item.uname)%><span><%=item.ctime%></span></p>
				<p class="p2"><%=item.content%></p>
				<!-- <p class="p3">推荐理由</p>
				<div class="stag">
					<div class="btn btn-tag">安全</div>
					<div class="btn btn-tag">男孩用</div>
					<div class="btn btn-tag">安全</div>
					<div class="btn btn-tag">安全</div>	
					<div class="btn btn-tag">安全</div>							
				</div> -->
			</div>
		</li>	
		<%}%>
	<%})%>	
</ul>
<a class="all-comment" href="#comment/index/pid:<%=data.pid%>">
	查看全部<%=data.totalSize%>条评论 &gt;
</a>