<div class="slider-box">
    <ul class="slider-list">
        <%_.each(data.list,function(item){%>
            <li>
                <a href="<%=item.link%>">
                    <img src="resource/images/loadimg.png" data-src="<%=item.img%>" alt=""/>
                </a>
            </li>
        <%})%>
    </ul>
    <div class="slider-point">
        <ul id="js-index-sliderIdx">
            <%_.each(data.list,function(item,i){%>
               <li class="<%=(i==0?"on":"")%>"></li>
            <%})%>                         
        </ul>
    </div>
</div>
